<main>
    <h2>Your Diary</h2>
    <div>
        <form action="/journals">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%= search.title %>">

            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="<%= search.date %>">

            <button>Search</button>
        </form>
    </div>
    <% journals.forEach(journal=>{ %>
        <article>
            <h3><%= journal.title %>  <a href="/journals/<%= journal.id %>">View</a></h3>
            <span><%= (new Date(journal.date)).toLocaleString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %></span>
            <p><%= journal.post %></p>
         
        </article>
        <hr>
    <% }) %>

</main>